$max_mobile:"max-width:577px";
$max_tablet:"max-width:768px";
$max_laptop:"max-width:992px";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .1s;
}
$light-body-bg: #FFF;
$light-text-color: #363537;
$light-toggle-bg: #FFF;
$light-toggle-text-color: #363537;
$light-toggle-border: #FFF;

$dark-body-bg: #363537;
$dark-text-color: #FAFAFA;
$dark-toggle-bg: #999;
$dark-toggle-text-color: #FAFAFA;
$dark-toggle-border: #6B8096;
body{
    // background-color:black!important ;
}
:root{
    --bg-color:#fff;
    --main-color:#F26122;
    --text-color:black;
    --toggle-text-color: #363537;
    --toggle-border: #FFF;
}
.dark{
    --bg-color:black;
    --main-color:#F26122;
    --text-color:#fff;
    --toggle-text-color: #fff;
    --toggle-border: #363537;
}
.Container{
width: 95%;
margin: auto;
}
a{
    text-decoration: none !important;
}
button{
    color: white;
    background-color: var(--main-color);
    border: none;
    border-radius: 20px;
}
.error{
    color: red;
}

.label {
    top: -15px;
    background:var(--bg-color);
color: var(--text-color);
    padding: 0 5px;
    left: 10px;
}
.login,.signup{
    background-color: var(--bg-color);
.form{
    width: 50%;
    input{
        background-color:var(--bg-color) !important;
        color: var(--text-color ) !important;
        &:focus{
            border: none;
            outline: var(--main-color) !important;
        }
        &::placeholder{
            color: var(--text-color) ;
        }
    }
    .eye{
        transform: translateY(-50%);
        color: var(--text-color);
        cursor: pointer;
    }
button{
    border-radius: 10px;
}
@media ($max-tablet) {
    width: 90% !important;
}
}
}
.navbar {
    background-color: var(--bg-color) !important;
    .dropdown-menu{
        // border:1px solid var(--text-color) !important;
            background-color: var(--bg-color) !important;
            box-shadow: 2px 2px 2px 3px gray;
            a{transition: all 1s;
            &:hover{
                background-color:var(--bg-color);
                padding-left: 30px;
            }
        }
    }
    a{
    color: var(--text-color) !important;
    &:last-of-type{
    color: var(--main-color) !important;
    .no_cart{
        right: 20px;
        top: -10px;
}
    }
}
button:first-child{
width: 40px;
height: 40px;
    border-radius: 50%;
}
}
.spinner{
    background-color: rgba(0, 0, 0, 0.422);
    height: 100vh;
}
.categories,.home{
    background-color: var(--bg-color);
    h2{
        color: var(--text-color) !important;
    }
    .category{
        width: 17%;
        height: 30vh;
        border-radius: 15px 40px  ;

        box-shadow: 2px 2px 5px 5px rgba(128, 128, 128, 0.667);
        @media ($max-tablet) {
            width: 40% ; 
        }
        &:hover .overlay{
            display: flex !important;
        }
        .overlay{
            border-radius: 10px 30px  ;
            background-color:rgba(0, 0, 0, 0.628);
            transition: all 1s;
        }
        h5{
            transform: translate(-50%,-50%);
            color: #fff;
        }

        img{
            cursor: pointer;
            border-radius: 15px 30px;
        }
    }
}
.mostProducts, .allproduct{
    background-color: var(--bg-color);
    color: var(--text-color);
    .product{
        width:20%;
        background-color: var(--bg-color);
        color: var(--text-color);
        border-radius: 15px 40px  ;
        box-shadow: -1px -1px 3px 3px #f2602273;
        overflow: hidden;
        @media ($max_laptop) {
            width: 40%;
        }
        @media ($max-tablet) {
            width: 45%;
        }
        @media ($max_mobile) {
            width: 100%;
        }
// 
h4{
    color: var(--main-color);
}
img{
    border-radius: 15px 40px  ;
cursor: pointer;
}
}
button{
    border-radius: 10px;
            
}
a{
    color: white ;

}
}
.allproduct{
    .active{
        &::before{
            content: '';
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--main-color);
            position: absolute;
            top: -40%;
            right: 50%;
        }
    }
    button{
        background: rgba(247, 160, 122, 0.16);
color: var(--main-color);
border-radius: 20px;
position: relative;
    }
.products ,.alert{
    button{
        background-color: var(--main-color );
        color: white;
        border-radius: 10px;
    }
}
}

.cart , .selectedproduct{
    color: var(--text-color);
    background-color: var(--bg-color);
    .left, .right{
        @media ($max-tablet) {
            width: 100% !important;
        }
    .product{

        }
        h5{
            color: gray;
        }
        .quantity{
            img{
                cursor: pointer;
                color: var(--text-color) !important;
            }
        } 

    }
            span{
                color: var(--main-color);

            }
            button{
                border-radius: 8px;
                @media ($max-tablet) {
                    width: 50% !important;
                }
                }

}
footer{
    border-top:  1px solid rgba(128, 128, 128, 0.628);
    .right , .left{
        width: 40%;
    }
    .center{
        width: 60%;
        @media ($max_mobile) {
            width: 100%;
            .links{
                width: 80% !important;
            }
        }
    }
background-color: var(--bg-color);
color: var(--text-color) !important;
// color: white;
h2{
    color: var(--main-color) ;
}
.right{
a{
    color: var(--text-color);
    transition: all 1s;
    &:hover{
        padding-left: 30px;
        color: var(--main-color);
    }
}
}
}
.alert{
    transform: translate(-50%,-50%);
    background-color: rgba(248, 240, 240, 0.555) !important;
    .content{
        transform: translate(-50%,-50%);
        border-radius: 20px !important;
        border-top-left-radius: 50px !important;
        border-bottom-right-radius: 50px !important;
        background-color: black !important;
        h2{
    color: white !important;
        }
        @media ($max_mobile) {
            width: 75% !important;
padding: 25px !important;
        }
.x-mark{
    cursor: pointer;
    @media ($max_mobile) {
     margin-right: 15px !important;   
     margin-top: 15px !important;   
    }
}
        button{
            border-radius: 8px;
            a{
                color: white !important;
            }
        }
    }
}
.success{
    background-color: var(--main-color);
    height: 5px;
    // width: 90%;
    animation: changeWidth 4s linear ; /* الأنميشن مع تكرار لإعادة الكرات*/
}
@keyframes changeWidth {
    0% {
        width: 90%; /* بداية العرض */
    }
    50% {
        width: 50%; /* تغيير العرض إلى 50% بعد نصف مدة الأنيميشن */
    }
    100% {
        width: 0; /* العودة إلى العرض الابتدائي */
    }
}